<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Language" content="en-us" />
  <title>Think Free</title>
  <link rel="stylesheet" href="css/blog.css" />
  <link rel="stylesheet" href="css/user.css" />
  <link rel="stylesheet" href="css/comments.css" />
</head>

<body>
  <div id="header">
    <p1 class="pageheader">th<span class="logo">i</span>nk <span class="logo">free</span></p1>
  </div>
  <div id="currentUser"></div>
  <div id="menu-button">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div id="viewblog">
    <div id="title">
      <%- title %>
    </div>
    <div id="description">
      <%- description %>
    </div>
    <div id="body">
      <%- body %>
    </div>
    <div id="postid" style="display: none"><%- postid %></div>
    <div id="comment-container">
      <div id="login-status">
        <div id="root"></div>
      </div>
      <div id="comments">
        <%- comments %>
      </div>
      <div id="comment-box">
        <form>
          <textarea></textarea>
          <input type="button" value="comment" onclick="submit-comment">
        </form>
      </div>
    </div>
  </div>
  <div id="bloglist-container">
    <div id="bloglist">
      <%- blogList %>
    </div>
  </div>
  <script src="javascript/bundle.js"></script>
</body>

</html>